<div class="container text-center padded">
  <h1 class="text-center">Our Team</h1>

  <ul class="list-inline text-center">
    <% ["lukas", "phan", "vlad"].each do |member| %>
      <li>
        <%= image_tag "#{member}.jpg", {class: "img-circle", style: "width: 150px; height: 150px"} %>
        <h3><%= member.capitalize %></h3>
      </li>
    <% end %>
  </ul>

  <h3 class="padded" class="text-center">
    <a href="mailto:contact@airbnb.com">
      <i class="fa fa-envelope"></i> contact@airbnb.com
    </a>
  </h3>
</div>
